@model List<Student>

<a class="btn btn-primary my-3" asp-controller="Student" asp-action="Create">Add New Student</a>
<table class="table">
	<thead>
		<tr>
			<th>StudentId</th>
			<th>StudentName</th>
			<th>StudentLastName</th>
			<th>Operations</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.StudentId</td>
				<td>@item.StudentName</td>
				<td>@item.StudentLastName</td>
				<td>
					<a asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Edit</a>
					<a asp-controller="Student" asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
